<a href="https://colab.research.google.com/github/AliKhyar/Your-restaurant-at-Istanbul/blob/master/Istanbul_population_history.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [0]:
url = 'https://populationstat.com/turkey/istanbul'
website_url = requests.get(url).text

In [75]:
soup = BeautifulSoup(website_url,'lxml')
my_table = soup.find('div',{'class':"city_table"})
print(my_table)

<div class="city_table"><div><span class="year">1950</span> <span class="pop">967,000</span></div><div><span class="year">1951</span> <span class="pop">1,018,000</span></div><div><span class="year">1952</span> <span class="pop">1,072,000</span></div><div><span class="year">1953</span> <span class="pop">1,128,000</span></div><div><span class="year">1954</span> <span class="pop">1,187,000</span></div><div><span class="year">1955</span> <span class="pop">1,249,000</span></div><div><span class="year">1956</span> <span class="pop">1,294,000</span></div><div><span class="year">1957</span> <span class="pop">1,332,000</span></div><div><span class="year">1958</span> <span class="pop">1,371,000</span></div><div><span class="year">1959</span> <span class="pop">1,412,000</span></div><div><span class="year">1960</span> <span class="pop">1,453,000</span></div><div><span class="year">1961</span> <span class="pop">1,535,000</span></div><div><span class="year">1962</span> <span class="pop">1,640,000</span></div><div><span class="year">1963</span> <span class="pop">1,753,000</span></div><div><span class="year">1964</span> <span class="pop">1,873,000</span></div><div><span class="year">1965</span> <span class="pop">2,001,000</span></div><div><span class="year">1966</span> <span class="pop">2,137,000</span></div><div><span class="year">1967</span> <span class="pop">2,280,000</span></div><div><span class="year">1968</span> <span class="pop">2,434,000</span></div><div><span class="year">1969</span> <span class="pop">2,597,000</span></div><div><span class="year">1970</span> <span class="pop">2,772,000</span></div><div><span class="year">1971</span> <span class="pop">2,931,000</span></div><div><span class="year">1972</span> <span class="pop">3,086,000</span></div><div><span class="year">1973</span> <span class="pop">3,249,000</span></div><div><span class="year">1974</span> <span class="pop">3,420,000</span></div><div><span class="year">1975</span> <span class="pop">3,600,000</span></div><div><span class="year">1976</span> <span class="pop">3,759,000</span></div><div><span class="year">1977</span> <span class="pop">3,909,000</span></div><div><span class="year">1978</span> <span class="pop">4,065,000</span></div><div><span class="year">1979</span> <span class="pop">4,228,000</span></div><div><span class="year">1980</span> <span class="pop">4,397,000</span></div><div><span class="year">1981</span> <span class="pop">4,580,000</span></div><div><span class="year">1982</span> <span class="pop">4,774,000</span></div><div><span class="year">1983</span> <span class="pop">4,977,000</span></div><div><span class="year">1984</span> <span class="pop">5,188,000</span></div><div><span class="year">1985</span> <span class="pop">5,407,000</span></div><div><span class="year">1986</span> <span class="pop">5,624,000</span></div><div><span class="year">1987</span> <span class="pop">5,843,000</span></div><div><span class="year">1988</span> <span class="pop">6,070,000</span></div><div><span class="year">1989</span> <span class="pop">6,307,000</span></div><div><span class="year">1990</span> <span class="pop">6,552,000</span></div><div><span class="year">1991</span> <span class="pop">6,773,000</span></div><div><span class="year">1992</span> <span class="pop">6,986,000</span></div><div><span class="year">1993</span> <span class="pop">7,205,000</span></div><div><span class="year">1994</span> <span class="pop">7,432,000</span></div><div><span class="year">1995</span> <span class="pop">7,665,000</span></div><div><span class="year">1996</span> <span class="pop">7,907,000</span></div><div><span class="year">1997</span> <span class="pop">8,155,000</span></div><div><span class="year">1998</span> <span class="pop">8,367,000</span></div><div><span class="year">1999</span> <span class="pop">8,553,000</span></div><div><span class="year">2000</span> <span class="pop">8,744,000</span></div><div><span class="year">2001</span> <span class="pop">9,030,000</span></div><div><span class="year">2002</span> <span class="pop">9,370,000</span></div><div><span class="year">2003</span> <span class="pop">9,722,000</span></div><div><span class="year">2004</span> <span class="pop">10,087,000</span></div><div><span class="year">2005</span> <span class="pop">10,466,000</span></div><div><span class="year">2006</span> <span class="pop">10,859,000</span></div><div><span class="year">2007</span> <span class="pop">11,267,000</span></div><div><span class="year">2008</span> <span class="pop">11,691,000</span></div><div><span class="year">2009</span> <span class="pop">12,129,000</span></div><div><span class="year">2010</span> <span class="pop">12,585,000</span></div><div><span class="year">2011</span> <span class="pop">13,058,000</span></div><div><span class="year">2012</span> <span class="pop">13,419,000</span></div><div><span class="year">2013</span> <span class="pop">13,658,000</span></div><div><span class="year">2014</span> <span class="pop">13,902,000</span></div><div><span class="year">2015</span> <span class="pop">14,127,000</span></div><div><span class="year">2016</span> <span class="pop">14,332,000</span></div><div><span class="year">2017</span> <span class="pop">14,540,000</span></div><div><span class="year">2018</span> <span class="pop">14,751,000</span></div><div><span class="year">2019</span> <span class="pop">14,968,000</span></div></div>

In [76]:
links = my_table.findAll('div')
links[0]

In [0]:
year = [] 
population = [] 
i = 0

for word in links:
  if i%2 == 0:
    year.append(word.get_text().strip())
    
  elif i%2 == 1:
    population.append(word.get_text().strip())
  i+=1
# ruinned some stuff here lool

In [78]:
year, population = [int(i[:4]) for i in year] + [int(i[:4]) for i in population], [int(i.replace(',', '')[5:]) for i in year] + [int(i.replace(',', '')[5:]) for i in population]
year[:5]

[1950, 1952, 1954, 1956, 1958]

In [82]:
df = pd.DataFrame()
df['year'] = year
df['population'] = population
df.sort_values(by='year', axis=0, ascending=True, inplace=True, kind='quicksort')
df.head()

    year  population
0   1950      967000
35  1951     1018000
1   1952     1072000
36  1953     1128000
2   1954     1187000

In [0]:
 df.to_csv('population_history.csv', index=False)